/* CSS Libs */

/*
reset.css by Oliver PetroviÄ
https://github.com/OliverPetrovic/css-reset
*/

*,
*::before,
*::after
{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

html
{
  /* So you will be able to use 1rem as 10px in whole document for any element*/
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

/* Custom CSS */
:root
{
    /* Color variables */

    --color-positive: #fefefe;
    --color-positive-transparent: #fefefe80;

    --color-negative: #121212;
    --color-negative-transparent: #12121280;

    --color-primary: #f0db4f;
    --color-primary-transparent: #f0db4f80;
}

body
{
    background-color: var(--color-negative);
    color: var(--color-positive);

    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
}

a
{
    color: currentColor;
    display: inline-flex;
}

address
{
    margin-left: 1rem;
    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    & > ul > li:not(:last-child)::after {
        content: ",";
    }
}


h2
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

h4
{
    line-height: 3rem;
}

.nav
{
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 69;

    text-transform: uppercase;

    &__relative-container
    {
        position: relative;
    }

    &__logo
    {
        position: absolute;

        top: calc(calc(2rem + 1em) / 2 - 1em / 2);
        left: 5vw;
    
        font-weight: 800;
    }

    &__content
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    
        list-style: none;
        padding-right: 5vw;
    }

    &__toggle
    {
        position: absolute;
        right: 5vw;
    
        top: calc(3rem / 2 - 1rem);
    
        cursor: pointer;
        display: none;
    }

    &__item
    {
        padding: 1rem 3vw;
    }

    /* NAV CHECKBOX HACK */
    #nav__toggle-checkbox
    {
        display: none;

        &:checked ~ .nav__content {
            flex-direction: column;
            visibility: visible;
        }
    }

    &__toggle-bars
    {
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & > hr {
            content: "";

            display: flex;
        
            width: 3rem;
            height: .5rem;
        
            background-color: var(--color-primary);
        }
    }
}

@media only screen and (max-width: 37.5em)
{
    .nav__toggle 
    {
        display: flex;
    }
    
    .nav__content {
        visibility: hidden;
        justify-content: center;
        padding-right: 0;
    }
}


/* END */

.header
{
    height: 15vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    font-size: calc(1vw * 1vh);

    padding: 5vw 5vw;

    background-size: cover;
    background-position: center;

    background-color: var(--color-primary);
    color: var(--color-negative);

    & > figure {
        padding: 3vw 7vw;
    }

    &--index {
        height: 40vh;
        background-image: url('assets/images/headerbg.png');
        color: var(--color-positive);

        & > figure {
            padding: 2vw 5vw;
            border-radius: .5rem;
            background-color: var(--color-negative-transparent);
        }
    }

}


.main
{
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
}

.grid
{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(10rem, 18rem);
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    padding: 3rem;
    grid-gap: 3rem;
    width: 100%;
    
    align-self: center;

    &:not(:last-child) {
        margin-bottom: 5rem;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &--disabled {
            filter: grayscale(1);
            cursor: not-allowed;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: .4rem;

        z-index: 4;

        transition: all .3s;

        &--contain {
            object-fit: contain;
        }
    }

    &__item:not(&__item--disabled) &__image:hover {
        transform: scale(1.05) skew(1deg, 1deg);
    }

    &__description {
        display: grid;
        place-items: center;

        height: 4rem;
    }

}

/*  FOOTER  */

.footer {
    border-top: 2px dashed var(--color-primary);
}

/* ADS */
.ad--horizontal {
    border: 2px solid #fff;
    background-image: linear-gradient(45deg, var(--color-negative), var(--color-primary));
}