@charset "UTF-8";
/* CSS Libs */
/*
reset.css by Oliver PetroviÄ
https://github.com/OliverPetrovic/css-reset
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none; }

html {
  /* So you will be able to use 1rem as 10px in whole document for any element*/
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace; }

/* Custom CSS */
:root {
  /* Color variables */
  --color-positive: #fefefe;
  --color-positive-transparent: #fefefe80;
  --color-negative: #121212;
  --color-negative-transparent: #12121280;
  --color-primary: #f0db4f;
  --color-primary-transparent: #f0db4f80; }

body {
  background-color: var(--color-negative);
  color: var(--color-positive);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column; }

a {
  color: currentColor;
  display: inline-flex; }

h2 {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.nav {
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 69;
  text-transform: uppercase;
  /* NAV CHECKBOX HACK */ }
  .nav__relative-container {
    position: relative; }
  .nav__logo {
    position: absolute;
    top: calc(calc(2rem + 1em) / 2 - 1em / 2);
    left: 5vw;
    font-weight: 800; }
  .nav__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-right: 5vw; }
  .nav__toggle {
    position: absolute;
    right: 5vw;
    top: calc(3rem / 2 - 1rem);
    cursor: pointer;
    display: none; }
  .nav__item {
    padding: 1rem 3vw; }
  .nav #nav__toggle-checkbox {
    display: none; }
    .nav #nav__toggle-checkbox:checked ~ .nav__content {
      flex-direction: column;
      visibility: visible; }
  .nav__toggle-bars {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .nav__toggle-bars > hr {
      content: "";
      display: flex;
      width: 3rem;
      height: .5rem;
      background-color: var(--color-primary); }

@media only screen and (max-width: 37.5em) {
  .nav__toggle {
    display: flex; }
  .nav__content {
    visibility: hidden;
    justify-content: center;
    padding-right: 0; } }

/* END */
header {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vw 10vw;
  background-image: url("assets/images/headerbg.png");
  background-size: cover;
  background-position: center; }
  header > figure {
    padding: 2vw 5vw;
    border-radius: .5rem;
    background-color: var(--color-negative-transparent); }

.main {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column; }

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: minmax(10rem, 18rem);
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  padding: 3rem;
  grid-gap: 3rem;
  align-self: center; }
  .grid:not(:last-child) {
    margin-bottom: 5rem; }
  .grid__item {
    display: flex;
    flex-direction: column; }
    .grid__item--disabled {
      filter: grayscale(1); }
  .grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem;
    z-index: 4;
    /*&:hover {
            transform: scale(1.05) skew(1deg, 1deg);
        }*/
    transition: all .3s; }
  .grid__item:not(.grid__item--disabled) .grid__image:hover {
    transform: scale(1.05) skew(1deg, 1deg); }
  .grid__description {
    display: grid;
    place-items: center;
    height: 4rem; }

/* ADS */
.ad--horizontal {
  border: 2px solid #fff;
  background-image: linear-gradient(45deg, var(--color-negative), var(--color-primary)); }
