@charset "UTF-8";
/* CSS Libs */
/*
reset.css by Oliver PetroviÄ
https://github.com/OliverPetrovic/css-reset
*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none; }

html {
  /* So you will be able to use 1rem as 10px in whole document for any element*/
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace; }

/* Custom CSS */
:root {
  /* Color variables */
  --color-positive: #fefefe;
  --color-positive-transparent: #fefefe80;
  --color-negative: #121212;
  --color-negative-strong: #111111;
  --color-negative-transparent: #12121280;
  --color-primary: #f0db4f;
  --color-primary-transparent: #f0db4f80; }

body {
  background-color: var(--color-negative);
  color: var(--color-positive);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

a {
  color: currentColor;
  display: inline-flex; }

address {
  margin-left: 1rem; }
  address:not(:last-child) {
    margin-bottom: 2rem; }
  address > ul > li:not(:last-child)::after {
    content: ","; }

h2 {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

h4 {
  line-height: 3rem; }

/* Markdown stuff by GitHub and Johnodon */
.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  padding-left: 10%;
  padding-right: 10%; }

.markdown-body::before {
  display: table;
  content: ""; }

.markdown-body::after {
  display: table;
  clear: both;
  content: ""; }

.markdown-body > *:first-child {
  margin-top: 0 !important; }

.markdown-body > *:last-child {
  margin-bottom: 0 !important; }

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none; }

.markdown-body .absent {
  color: #cb2431; }

.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1; }

.markdown-body .anchor:focus {
  outline: none; }

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px; }

.markdown-body hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0; }

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5; }

.markdown-body blockquote > :first-child {
  margin-top: 0; }

.markdown-body blockquote > :last-child {
  margin-bottom: 0; }

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5; }

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25; }

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden; }

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none; }

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible; }

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
  font-size: inherit; }

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef; }

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef; }

.markdown-body h3 {
  font-size: 1.25em; }

.markdown-body h4 {
  font-size: 1em; }

.markdown-body h5 {
  font-size: 0.875em; }

.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d; }

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em; }

.markdown-body ul.no-list,
.markdown-body ol.no-list {
  padding: 0;
  list-style-type: none; }

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0; }

.markdown-body li {
  word-wrap: break-all; }

.markdown-body li > p {
  margin-top: 16px; }

.markdown-body li + li {
  margin-top: .25em; }

.markdown-body dl {
  padding: 0; }

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600; }

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px; }

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto; }

.markdown-body table th {
  font-weight: 600; }

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid var(--color-negative-strong); }

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1; }

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa; }

.markdown-body table img {
  background-color: transparent; }

.markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff; }

.markdown-body img[align=right] {
  padding-left: 20px; }

.markdown-body img[align=left] {
  padding-right: 20px; }

.markdown-body .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent; }

.markdown-body span.frame {
  display: block;
  overflow: hidden; }

.markdown-body span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #dfe2e5; }

.markdown-body span.frame span img {
  display: block;
  float: left; }

.markdown-body span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292e; }

.markdown-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }

.markdown-body span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center; }

.markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center; }

.markdown-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }

.markdown-body span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right; }

.markdown-body span.align-right span img {
  margin: 0;
  text-align: right; }

.markdown-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden; }

.markdown-body span.float-left span {
  margin: 13px 0 0; }

.markdown-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden; }

.markdown-body span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right; }

.markdown-body code,
.markdown-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px; }

.markdown-body code br,
.markdown-body tt br {
  display: none; }

.markdown-body del code {
  text-decoration: inherit; }

.markdown-body pre {
  word-wrap: normal; }

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0; }

.markdown-body .highlight {
  margin-bottom: 16px; }

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal; }

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #3b393d;
  border-radius: 3px; }

.markdown-body pre code,
.markdown-body pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }

.markdown-body .csv-data td,
.markdown-body .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap; }

.markdown-body .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #fff;
  border: 0; }

.markdown-body .csv-data tr {
  border-top: 0; }

.markdown-body .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0; }

/* END MARKDOWN */
.nav {
  position: sticky;
  top: 0;
  background-color: var(--color-negative);
  border-bottom: 1px solid var(--color-primary);
  z-index: 69;
  text-transform: uppercase;
  /* NAV CHECKBOX HACK */ }
  .nav__relative-container {
    position: relative; }
  .nav__logo {
    position: absolute;
    top: calc(calc(2rem + 1em) / 2 - 1em / 2);
    left: 5vw;
    font-weight: 800; }
  .nav__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-right: 5vw; }
  .nav__toggle {
    position: absolute;
    right: 5vw;
    top: calc(3rem / 2 - 1rem);
    cursor: pointer;
    display: none; }
  .nav__item {
    padding: 1rem 3vw; }
  .nav #nav__toggle-checkbox {
    display: none; }
    .nav #nav__toggle-checkbox:checked ~ .nav__content {
      flex-direction: column;
      visibility: visible; }
  .nav__toggle-bars {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .nav__toggle-bars > hr {
      content: "";
      display: flex;
      width: 3rem;
      height: .5rem;
      background-color: var(--color-primary); }

@media only screen and (max-width: 37.5em) {
  .nav__toggle {
    display: flex; }
  .nav__content {
    visibility: hidden;
    justify-content: center;
    padding-right: 0; } }

/* END */
.header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(1vw * 1vh);
  padding: 5vw 5vw;
  background-size: cover;
  background-position: center;
  background-color: var(--color-primary);
  color: var(--color-negative); }
  .header > figure {
    padding: 3vw 7vw; }
  .header--index {
    height: 40vh;
    background-image: url("assets/images/headerbg.png");
    color: var(--color-positive); }
    .header--index > figure {
      padding: 2vw 5vw;
      border-radius: .5rem;
      background-color: var(--color-negative-transparent); }

.main {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column; }

.grid {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: minmax(10rem, 18rem);
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  padding: 3rem;
  grid-gap: 3rem;
  width: 100%;
  align-self: center; }
  .grid:not(:last-child) {
    margin-bottom: 5rem; }
  .grid__item {
    display: flex;
    flex-direction: column; }
    .grid__item--disabled {
      filter: grayscale(1);
      cursor: not-allowed; }
  .grid__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem;
    z-index: 4;
    transition: all .3s; }
    .grid__image--contain {
      object-fit: contain; }
  .grid__item:not(.grid__item--disabled) .grid__image:hover {
    transform: scale(1.05) skew(1deg, 1deg); }
  .grid__description {
    display: grid;
    place-items: center;
    height: 4rem; }

/*  FOOTER  */
.footer {
  border-top: 2px dashed var(--color-primary);
  margin-top: 2rem;
  justify-self: flex-end; }

/* ADS */
.ad--horizontal {
  border: 2px solid var(--color-primary);
  background: var(--color-negative-strong);
  min-height: 2rem; }
