
/* LIBRALIES */
  
/*
reset.css by Oliver Petrovič
https://oliverpetrovic.sk
https://github.com/OliverPetrovic/css-reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  /* So you will be able to use 1rem as 10px in whole document for any element*/
  font-size: 62.5%;
}

/* STYLE */

:root {
  --color-negative-strong: #00000;
  --color-negative: #010101;
  --color-negative-weak: #101010

  --color-positive-strong: #ffffff;
  --color-positive: #fefefe;
  --color-positive-weak: #efefef;
}

body {
  background-color: var(--color-negative);
  color: var(--color-positive);
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem;
}
