@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  font: normal normal 'Lato' 16px;
  --accent-color: #F0DB4F;
}

html {
  background-color: var(--accent-color);
  padding: 10px;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: black;
}

a {
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  transition: 1s ease;
}
a:hover {
  color: var(--accent-color);
  transition: 1s ease;
}

a:hover:after {
  content: '[ go ]';
  position: relative;
  left: 5px;
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    left: 0px;
    color: transparent;
  }
  
  100% {
    left: 5px;
    color: var(--accent-color);
  }
}