<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | WDNF</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
{% seo %}

    <meta name="description" content="Community-made professional and modern references and tutorials for Web Developers">
    <meta name="theme-color" content="#f0db4f">

    <meta property="og:title" content="Web Developers & Friends | Discord server community making tutorials for Web Developers">
    <meta property="og:description" content="Discord community-made professional and modern references and tutorials for Web Developers">
    <meta property="og:type" content="website" />
    <meta property="og:determiner" content="the" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="WDNF" />
    <meta property="og:url" content="https://wdnf.org/" />
    <meta property="og:image" content="https://wdnf.org/assets/branding/icon-transparent.png" />


    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="WDNF | References and tutorials for Web Developers">
    <meta name="twitter:description" content="Community-made professional and modern references and tutorials for Web Developers">

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script data-ad-client="ca-pub-4551551446273204" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    <link rel="stylesheet" href="/syntax.css" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav class="nav">
        <div class="nav__relative-container">

            <input type="checkbox" id="nav__toggle-checkbox">

            <div class="nav__logo">
                <a href="/">
                    WDNF
                </a>
            </div>

            <ul class="nav__content">

                <li class="nav__item">
                    <a target="_blank" href="https://discord.gg/xEtRXNp">
                        Discuss
                    </a>
                </li>
                <li class="nav__item">
                    <a target="_blank" href="https://discord.gg/xEtRXNp">
                        Contribute
                    </a>
                </li>
                <li class="nav__item">
                    <a target="_blank" href="mailto:opetrovic@protonmail.com">
                        Contact
                    </a>
                </li>
                
            </ul>

            <label class="nav__toggle" for="nav__toggle-checkbox">
                <div class="nav__toggle-bars">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </label>

        </div>
    </nav>
    <header class="header">
        <figure>
            <h1>Web Developers & Friends</h1>
            <p>References and tutorials for Web Developers. Choose category to browse articles</p>
        </figure>
    </header>
    <main class="container-lg px-3 my-5 markdown-body">
      <br />{{ content }}<br /> <br />

      <h2>AD</h2>
      <div class="ad--horizontal">
            
          <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-4551551446273204"
          data-ad-slot="3520310281"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      </div>
    </main>
 
<footer class="footer footer-index">

        <div class="grid">

            <div class="grid__item grid__item--description">
                <img src="/assets/branding/icon-transparent.png" alt="WDNF Logo" class="grid__image grid__image--contain">
                <span class="grid__description">Web Developers & Friends &trade;</span>
            </div>

            <div class="grid__item">
                <h3>About us</h3>
                <p>
                    WDNF, also known as Web Developers & Friends is
                    professional web development community.
                </p>
                <p>
                    <a href="https://www.youtube.com/channel/UCm5MuzmOEhJSom7Be650-XQ">YouTube</a>
                </p>
            </div>

            <div class="grid__item">
                <h3>Contact</h3>
                <p>
                    <address>
                        <h4>Administration</h4>
                        <ul>
                            <li>@Gold Sun#1661</li>
                            <li><a href="mailto:veich@protonmail.com" target="_blank">Email</a></li>
                            <li><a disabled href="https://github.com/jacobveich" target="_blank">GitHub</a></li>
                        </ul>
                    </address>
                    <address>
                        <h4>Community</h4>
                        <ul>
                            <li><a href="https://discord.gg/xEtRXNp" target="_blank">Discord</a></li>
                            <li><a href="https://github.com/wdnf/wdnf.github.io" target="_blank">GitHub</a></li>
                        </ul>
                    </address>
                </p>
            </div>

            <div class="grid__item">
                <h3>Address</h3>
                <p>
                    <address>
                        <h4>Mighty Edge</h4>
                        <ul>
                            <li>WDNF organisation</li>
                            <li>International space</li>
                            <li>Antarctica</li>
                            <li>Earth, Solar System</li>
                            <li>Spiral arm</li>
                            <li>Milky way, Laniakea Supercluster</li>
                        </ul>
                    </address>
                </p>
            </div>

        </div>

    </footer>
  </body>
</html>
